{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		select {
			display: block !important;
		}

		.tp-caption.boxshadow,
		.boxshadow {
			box-shadow: none !important;
		}

		.score {
			display: flex;
		}

		.score-container {
			display: flex;
			flex-direction: row;
			gap: 1vw;
			align-items: center;
		}

		.progress-container {
			position: relative;
			width: 100px;
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.progress-circle {
			transform: rotate(-90deg);
			transform-origin: center;
		}

		.progress-background {
			fill: none;
			stroke: #ddd;
			stroke-width: 10;
		}

		.progress-bar {
			fill: none;
			stroke: #4CAF50; /* Couleur de la barre */
			stroke-width: 10;
			stroke-linecap: round;
			transition: stroke-dashoffset 0.5s ease-out;
		}

		.progress-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 18px;
			font-weight: bold;
			color: #333;
		}
	</style>
{% endblock %}


{% block body %}
	<!-- Page Header-->
	<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="white-text">Your profile</h2>
					<span class="white-text">Personnal & Professionnal informations</span>
					<ol class="breadcrumb">
						<li>
							<a href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="active">Profile</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<!-- Page Content-->
	<section class="gray-bg">
		<div class="container">
			<div class="row">

						{% if candidate.completionPercentage == 100 %}
				<div class="score">
					<div class="score-container">
						<div class="progress-container">
							<svg class="progress-circle" width="100" height="100" viewbox="0 0 100 100">
								<circle class="progress-background" cx="50" cy="50" r="45"></circle>
								<circle class="progress-bar" cx="50" cy="50" r="45" style="stroke-dasharray: 283; stroke-dashoffset: 0;"></circle>
							</svg>
							<span class="progress-text">100%</span>
						</div>
							<h4>
								<img src="{{ asset('img/congrats.gif') }}" style="height: 80px; width: 201px;">
								&nbsp; Hooray ! Your profile is complete.
							</h4>
						{% else %}
							<div class="progress-container">
								<svg class="progress-circle" width="100" height="100" viewbox="0 0 100 100">
									<circle class="progress-background" cx="50" cy="50" r="45"></circle>
									<circle class="progress-bar" cx="50" cy="50" r="45" style="stroke-dasharray: 283; stroke-dashoffset: {{ 283 - (candidate.completionPercentage / 100) * 283 }};"></circle>
								</svg>
								<span class="progress-text">{{ candidate.completionPercentage }}%</span>
							</div>
						{% endif %}
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</section>

	{{ form_start(formCandidate, {
		'attr': {
			'id': 'candidateForm',
			'role': 'form',
			'data-parsley-validate': '',
			'enctype': 'multipart/form-data',
			'accept-charset': 'UTF-8'
		} }) }}

	<section class="section-padding">
		<div class="container">
			<div class="row">
				<h3 class="text-extrabold">Your personal informations</h3>

				{# Gender #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="input-field">
						{{ form_widget(formCandidate.gender) }}
						{{ form_label(formCandidate.gender) }}
						{{ form_errors(formCandidate.gender) }}
					</div>
				</div>

				<div class="clearfix visible-sm"></div>

				{# First name #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="input-field">
						{{ form_widget(formCandidate.firstName) }}
						{{ form_label(formCandidate.firstName) }}
						{{ form_errors(formCandidate.firstName) }}
					</div>
				</div>

				{# Last name #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="input-field">
						{{ form_widget(formCandidate.lastName) }}
						{{ form_label(formCandidate.lastName) }}
						{{ form_errors(formCandidate.lastName) }}
					</div>
				</div>

				{# Current location #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="input-field">
						{{ form_widget(formCandidate.currentLocation) }}
						{{ form_label(formCandidate.currentLocation) }}
						{{ form_errors(formCandidate.currentLocation) }}
					</div>
				</div>

				{# Address #}
				<div class="col-xs-12 col-sm-8">
					<div class="input-field">
						{{ form_widget(formCandidate.address) }}
						{{ form_label(formCandidate.address) }}
						{{ form_errors(formCandidate.address) }}
					</div>
				</div>

				<div
					class="row">
					{# Profile picture #}
					<div class="col-xs-12 col-sm-6 col-md-4">
						<h3 class="section-sub" style="font-size: large;">Upload your ID picture</h3>
						<div class="file-field input-field" style="margin-top: 10px;">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">insert_photo</i>
									CLICK HERE</span>
								{{ form_widget(formCandidate.profilePicture) }}
								{{ form_errors(formCandidate.profilePicture) }}
							</div>

							{% if candidate.profilePicPath %}
								<div id="existing-file-photo" class="existing-file">
									<a href="{{ asset('uploads/profile_pictures/' ~ candidate.profilePicPath ) }}" target="_blank">
										<i class="material-icons">&#xE24D;</i>
										{{ originalProfilPicture }}
									</a>
								{% endif %}
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload your ID photo" readonly>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-8">
						<div
							class="row">

							{# Country #}
							<div class="col-xs-12 col-sm-6">
								<div class="input-field">
									{{ form_widget(formCandidate.country) }}
									{{ form_label(formCandidate.country) }}
									{{ form_errors(formCandidate.country) }}
								</div>
							</div>

							{# Nationality #}
							<div class="col-xs-12 col-sm-6">
								<div class="input-field">
									{{ form_widget(formCandidate.nationality) }}
									{{ form_label(formCandidate.nationality) }}
									{{ form_errors(formCandidate.nationality) }}
								</div>
							</div>

							{# BirthDay #}
							<div class="col-xs-12 col-sm-6">
								<div class="input-field">
									{{ form_widget(formCandidate.birthDay) }}
									{{ form_label(formCandidate.birthDay) }}
									{{ form_errors(formCandidate.birthDay) }}
								</div>
							</div>

							{# BirthPlace #}
							<div class="col-xs-12 col-sm-6">
								<div class="input-field">
									{{ form_widget(formCandidate.birthPlace) }}
									{{ form_label(formCandidate.birthPlace) }}
									{{ form_errors(formCandidate.birthPlace) }}
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="row mt-40">
					<h3 class="text-extrabold">Your professional profile</h3>
					<div class="col-xs-12 col-sm-6">

						<div
							class="card card-panel passport">

							{# Passport #}
								<h3 class="section-sub" style="font-size: large;">Upload your passport</h3>
							<div class="file-field input-field">

								<div class="btn btn-lg primary waves-effect waves-light">
									<span>
										<i class="material-icons">&#xE24D;</i>
										CLICK HERE</span>
									{{ form_widget(formCandidate.passportPicture) }}
									{{ form_errors(formCandidate.passportPicture) }}
								</div>

								{% if candidate.passportPath %}
									<div id="existing-file-passport" class="existing-file">
										<a href="{{ asset('uploads/passport_files/' ~ candidate.passportPath) }}" target="_blank">
											<i class="material-icons">&#xE24D;</i>
											{{ originalPassport }}
										</a>
									</div>
								{% endif %}

								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" placeholder="Upload your passport" readonly>
								</div>
							</div>

							{# CV #}
							<h3 class="section-sub" style="font-size: large;">Upload your CV</h3>
							<div class="file-field input-field">
								<div class="btn btn-lg primary waves-effect waves-light">
									<span>
										<i class="material-icons">&#xE24D;</i>
										CLICK HERE</span>
									{{ form_widget(formCandidate.cvPicture) }}
									{{ form_errors(formCandidate.cvPicture) }}
								</div>

								{% if candidate.cvPath %}
									<div id="existing-file-cv" class="existing-file">
										<a href="{{ asset('uploads/cv_files/' ~ candidate.cvPath) }}" target="_blank">
											<i class="material-icons">&#xE24D;</i>
											{{ originalCv }}
										</a>
									</div>
								{% endif %}

								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" placeholder="Upload your Curriculum Vitae" readonly>
								</div>
							</div>
						</div>
					</div>

					<div
						class="col-xs-12 col-sm-6">

						{# Sector #}
						<div class="col-xs-12 col-sm-12">
							<div class="input-field" style="margin-top: 5px;">
								{{ form_widget(formCandidate.sectorJob) }}
								{{ form_label(formCandidate.sectorJob) }}
								{{ form_errors(formCandidate.sectorJob) }}
							</div>
						</div>

						{# XP #}
						<div class="col-xs-12 col-sm-12">
							<div class="input-field">
								{{ form_widget(formCandidate.experience) }}
								{{ form_label(formCandidate.experience) }}
								{{ form_errors(formCandidate.experience) }}
							</div>
						</div>
					</div>

					{# Desciption #}
					<div class="col-xs-12 col-sm-12">
						<div class="input-field">
							{{ form_widget(formCandidate.description) }}
							<label for="{{ formCandidate.description.vars.id }}" class="{% if formCandidate.description.vars.value %}active{% endif %}">
								{{ formCandidate.description.vars.label }}</label>
							{{ form_errors(formCandidate.description) }}
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-padding gray-bg">
			<div class="container">
				<div class="row">
					<h3 class="text-extrabold">Change your password</h3>

					{# mail #}
					<div class="col-xs-12 col-sm-4">
						<div class="input-field">
							{{ form_widget(formCandidate.email) }}
							{{ form_label(formCandidate.email) }}
							{{ form_errors(formCandidate.email) }}
						</div>
					</div>

					{# Password change #}
					<div class="col-xs-12 col-sm-4">
						<div class="input-field">
							{{ form_widget(formCandidate.newPassword.first) }}
							{{ form_label(formCandidate.newPassword.first) }}
							{{ form_errors(formCandidate.newPassword.first) }}
						</div>
					</div>

					{# Password confirm #}
					<div class="col-xs-12 col-sm-4">
						<div class="input-field">
							{{ form_widget(formCandidate.newPassword.second) }}
							{{ form_label(formCandidate.newPassword.second) }}
							{{ form_errors(formCandidate.newPassword.second) }}
						</div>
					</div>
				</div>

				{# Delete account #}
				<div class="row">
					<div class="col-xs-12 mt-40 mb-80 delete-account">
						<a href="#!" onclick="return prompt('Please Type \'Delete my account\' to delete your K-Yachting Services account:') == 'Delete my account'" class="btn btn-block btn-lg waves-effect waves-light">
							<i class="material-icons">&#xE872;</i>Delete my account</a>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<a href="{{ path ('app_home') }}" class="btn btn-block btn-lg border primary waves-effect waves-light">
							<i class="fa fa-long-arrow-left"></i>
							Back home</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
						<button type="submit" class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
							<span>
								<strong>UPDATE</strong>
								NOW</span>
						</button>
					</div>
				</div>

			</div>
		</section>

		{{ form_end(formCandidate) }}
	{% endblock %}
